.pvz_change_window
{
	position: relative;
	display: none;

	#map
	{
		width: 1000px;
		height: 500px;
	}

	.city_name
	{
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 410;
		width: 400px;
		background: white;

		input
		{
			border-radius: 0;
		}

	}

	.search_result
	{
		display: none;
		padding-bottom: 8px;

		.city_item
		{
			cursor: pointer;

			&:hover, .active
			{
				background: #ef9016;

				.city, .region
				{
					color: white;
				}
			}

			&.blank
			{
				display: none;
			}

			font-size: 13px;
			padding: 0 14px 6px 14px;

			.region
			{
				line-height: 10px;
				color: #c7c7c7;
				font-size: 12px;
			}
		}
	}
}

.cdek_pvz_popup
{
	z-index: 500;
	.leaflet-popup-content
	{

		> div
		{
			&:nth-child(1){
				margin: 0;
			}
			margin-top: 10px;

			i
			{
				margin-right: 10px;
			}

			&.check_button
			{
				background: #ef9016;
				color: white;
				text-align: center;
				padding: 5px 10px;
				cursor: pointer;
				border-radius: 3px;
				display: inline-block;
			}
		}
	}
}